{#
Copyright 2018 Clément Joly

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Account - {{ account.fullname }}</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
      <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
      <style>
        body { background: rgba(249,249,249,1) }
      </style>
  </head>
  <body>
    <div class="button-group" role="group">
      <h1>
        <a class="pure-button" href="/">Home/</a>
        {% for parentAccount in account.concatTree %}
          <a class="pure-button" href="/{{ parentAccount[0] }}.html">{{ parentAccount[1] }}</a>
        {% endfor %}
      </h1>
    </div>
    <div class="button-group" role="group">
      {% for subAccount in account.subAccounts %}
          <a class="pure-button" href="/{{ subAccount }}.html">{{ subAccount }}</a>
      {% endfor %}
    </div>
    <div class="pure-g">
      <div class="pure-u-1 pure-u-lg-1-2 pure-u-xl-1-2">
        {{ svgTreeGraphs["this month"] }}
      </div>
      <div class="pure-u-1 pure-u-lg-1-2 pure-u-xl-1-2">
        {{ svgTreeGraphs["last month"] }}
      </div>
      <div class="pure-u-1 pure-u-lg-1-2 pure-u-xl-1-2">
        {{ svgTreeGraphs["this year"] }}
      </div>
      <div class="pure-u-1 pure-u-lg-1-2 pure-u-xl-1-2">
        {{ svgTreeGraphs["all time"] }}
      </div>
    </div>
    <div>
      {{ svgTreeGraphs.dateTL }}
    </div>
  </body>
</html>
